@use 'constants';
@use 'layout';
@use '../utils/break';

$common-font-stack: 'Arimo', 'Helvetica', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

body {
  color: constants.$body-text-color;
  font-family: $common-font-stack;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  margin: 40px;
}
