@use "../../config";

.container {
  background: config.$body-text-color;
}

.grid {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(6, config.$base-width-unit);
  grid-template-rows: repeat(6, config.$base-width-unit / 3);
}

.wide {
  background: red;
  grid-column: 1 / span 4;
  grid-row: 1;
}

.tall {
  background: green;
  grid-column: 3 / span 3;
  grid-row: 0;
}

.short {
  background: blue;
  grid-column: 3;
  grid-row: 3;
}
